/Package/lib
/Source/EasyNetQ.Rx/obj
/Source/EasyNetQ.Rx/bin
/Source/EasyNetQ.Rx.Tests/bin
/Source/EasyNetQ.Rx.Tests/obj
/Source/packages
/Source/*.suo
/Source/EasyNetQ.Rx.Tests/*.ncrunchproject
/Source/*.user
/Source/*.ncrunchsolution
/Source/_NCrunch_EasyNetQ.Rx/*.cache
/Source/EasyNetQ.Rx/*.ncrunchproject
